
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #444;
  background-color:#efefef;
  height: 600px;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h2{
color:#444;
}

.welcome {
  font-size: 1.8rem;
  
}

.logo {
  height: 10rem;
  position:absolute;
  left: 45%;
  top: 2%;
 right: 50%;


}


.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 15rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #ffb003;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ffb003;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.main {
  position: relative;
  max-width: 100rem;
  margin:  auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 100;
  transition: all 1s;
}

.section {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2rem;
}

.section__label {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  position: static;
  margin-top: 6rem;
  
}

.container {
  text-align: center;
}

.image{
  max-width:100%;
  height: 100%;
  max-height: 500px;
  border-radius: 1rem;
  margin-right: 1rem;
  color:inherit;
  border: 2px solid #fcb21285;
}

.aside { 
  background-image: linear-gradient(to top left, #ffb003, #ffcd03dd,#ffcd036e);
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;padding: auto;
  height: 36.8rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.5s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;

  margin-left: 10rem;
  width: 5rem;
  outline: none;
  margin-bottom: 90rem;
  margin-left: 50rem;
  margin-right: auto;
  display: block;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.form__btn--vki {
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 2rem;
  height: 3rem;
}

.result{
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
  max-width: 100%;
}

.login__input--pin--1{
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 18rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #ffb003;
  transition: all 0.3s;
  position: absolute;
  left: 74%;
}
